* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#home,
#product,
#review,
#blog,
#contact,
#about
#tracking {
  scroll-margin-top: 10vh;
}
/* ==========================================
            Navigation Bar
=============================================*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
header {
  background-color: #7a6f62;
  position: sticky;
  top: 0;
  padding: 0 2rem;
  z-index: 1;
}
.nav-item a {
  text-decoration: none;
  font-size: 20px;
  /* border-radius: 7px; */
  color: #fff;
  padding: 5px 10px;
}

.nav-item a:hover {
  color: rgb(248, 212, 4);
}

/*==========================================================
                home
============================================================ */
#home {
  min-height: 90vh;
  background-image: url(img/banner.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#home .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: rgba(37, 36, 36, 0.5);
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.hero img {
  border: 5px solid white;
}
.hero .title h1 {
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.line {
  width: 100px;
  height: 5px;
  background-color: rgb(255, 115, 21);
  margin: 10px 0;
}
.title-color {
  color: rgb(243, 238, 0);
}
.description p {
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
  margin: 20px 0;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*========================================================
              Product 
==========================================================*/
#product {
  /* margin-bottom: 30px; */
  background-color: #2c092d;
  padding-bottom: 40px;
}
#product h1,
#review h1,
#upcomming h2 {
  text-align: center;
  font-size: 40px;
  padding-top: 10px;
  color: #fff;
}
.title-color1 {
  color: rgb(21, 110, 5);
}
.cards {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fbfbfb;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  padding-bottom: 15px;
  height: 380px;
  width: 300px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.cards:hover {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.card-title {
  color: rgb(213, 16, 111);
  font-family: "Times New Roman", Times, serif;
  padding: 10px 0;
  font-size: 20px;
}
.card-text {
  color: navy;
  font-size: 24px;
  font-weight: bold;
  font-weight: 600;
}
.card-info {
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
}
.card-body button {
  background-color: rgb(100, 172, 45);
  color: #fff;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.card-body i {
  font-size: 20px;
}
.card-body button:hover {
  background-color: #fff;
  color: rgb(100, 172, 45);
  border: 1px solid rgb(100, 172, 45);
}
#display-wallpaper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
/* ==============================================
                checkout cart 
=================================================*/
.checkout-cart {
  border: 5px solid rgb(230, 6, 6);
  height: 87vh;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
}
.checkout-cart h2 {
  text-align: center;
  font-size: 40px;
  color: rgb(100, 172, 45);
}
.checkout-cart button {
  background-color: rgb(100, 172, 45);
  color: #fff;
  padding: 8px 20px;
  border: none;

  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.checkout-cart button:hover {
  background-color: #fff;
  color: rgb(100, 172, 45);
  border: 1px dashed rgb(100, 172, 45);
}
.check-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}
.right {
  float: right;
  color: rgb(217, 54, 54);
  font-weight: bold;
}
.checkout-info h5 {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

/* =================================================
                upcomming product 
====================================================*/
#upcomming {
  height: 90vh;
  padding: 10px;
  background-image: url("img/img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.upcomming {
  background-color: #fcfcfc;
  margin: 30px 0;
  text-align: center;
  height: 460px;
  width: 360px;
  padding: 25px 0 0 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.product-img img {
  width: 250px;
}
.product-info h3 {
  font-size: 28px;
  padding: 10px 0px;
  font-weight: bold;
  color: rgb(110, 9, 44);
}
.product-info button {
  background-color: rgb(53, 5, 100);
  color: #fff;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.product-info button:hover {
  background-color: #fff;
  color: rgb(53, 5, 100);
  border: 1px solid rgb(53, 5, 100);
}

/*=================================================
             Review Section
=================================================== */
#review {
  /* margin-bottom: 20px; */
  background-color: #2c092d;
  height: 90vh;
}
.review-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-top: 15vh;
}
.review {
  background-color: #440235;

  border-radius: 15px;
  height: 350px;
  width: 500px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.review:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  border: 5px solid rgb(234, 168, 0);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.review i {
  font-size: 40px;
  color: rgb(235, 201, 7);
}
.review-description {
  color: #fff;
  padding: 10px;
  font-size: 14px;
  font-size: 1.2em;
  font-weight: 300;
  height: 73%;
}
.reviwer-info {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #2d0116;
  padding: 10px;
  border-radius: 0 0 15px 15px;
}
.reviwer-img img {
  width: 100px;
  clip-path: circle();
  margin-top: -60px;
  margin-right: 10px;
}
.reviwer-name {
  color: #fff;
  margin-right: 10px;
}
.reviwer-name h3 {
  color: rgb(235, 201, 7);
  font-size: 20px;
  font-weight: bold;
}

/*==================================================
          about section
===================================================
 */
#about {
  min-height: 60vh;
  margin-top: 20px;
}
.about {
  display: flex;
  justify-content: center;
}
.about h1 {
  color: rgb(0, 0, 143);
  font-size: 40px;
}
.about p {
  color: #440235;
  font-size: 18px;
}
.about img {
  width: 100px;
}
.address {
  display: flex;
  justify-content: center;
  gap: 10vw;
}

address h4{
  color: #2d0116;

}
/* ================================================
                blog section
=================================================== */
#blog {
  height: 90vh;

  background-image: url(img/banner1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px 0;
}
#blog h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: rgb(97, 4, 30);
}
.blog {
  height: 465px;
  width: 360px;
  background-color: #fff;
  color: #888888;
  border-radius: 15px;
  margin-top: 50px;
  padding: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.blog-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.blog-author {
  display: flex;
  align-items: center;
  gap: 15px;
}
.blog-description {
  padding: 15px 30px 35px 30px;
}
.blog-description h3 {
  font-size: 24px;
  line-height: 36px;
  color: #5b067f;
  cursor: pointer;
}
.blog-description p {
  font-size: 14px;
  line-height: 22px;
  color: #201c1c;
}
.blog-author i {
  font-size: 12px;
  color: rgb(100, 22, 5);
}
.blog-author p {
  font-size: 12px;
  color: #989898;
}

/* ===============================================
                Track Order
================================================== */
#tracking {
  height: 90vh;
  padding: 30px 0;
}
#tracking h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: rgb(97, 4, 30);
}
#tracking p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: rgb(97, 4, 30);
}
.tracking-form {
  margin-top: 10vh;
}
.tracking-form label {
  font-size: 20px;
  font-weight: bold;
  color: rgb(152, 9, 42);
}
.tracking-form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.tracking-form input {
  height: 50px;
  width: 500px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid rgb(152, 9, 42);
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
/*================================================
                contact Section
================================================== */
#contact {
  min-height: 90vh;
  padding: 10px;
  background-color: #2c092d;
}
#contact .title {
  text-align: center;
  font-size: 34px;
  color: rgb(255, 255, 255);
  margin: 5vh 0;
}
.contact-form input,
textarea {
  height: 40px;
  margin-bottom: 10px;
  border: 2px solid transparent;
  outline: none;
  border-bottom: 2px solid #53c814;
  background-color: transparent;
  color: rgb(244, 160, 4);
  padding: 5px;
  transition: 0.5s linear;
  font-family: monospace;
  letter-spacing: 1px;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -ms-transition: 0.5s linear;
  -o-transition: 0.5s linear;
}
.email input {
  width: 80%;
}
.contact-form textarea {
  width: 80%;
  height: 200px;
  border: 2px solid #53c814;
}
.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-info img {
  width: 30vw;
}
.contact-form button {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #06ff50;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* ===============================================
                  service info
================================================== */
#ourService {
  background-color: rgb(247, 247, 247);
}
.service-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  border-right: 2px solid rgb(109, 166, 117);
  height: 90px;
}
.service-info:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.br {
  border-right: none;
}
.info-icon i {
  font-size: 40px;
  color: rgb(10, 210, 47);
}
.info-desc h3 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(20, 26, 84);
}
.info-desc p {
  font-size: 16px;
  font-weight: 300;
  color: rgb(86, 92, 77);
}
/* ===============================================
               footer section
=================================================== */
footer {
  background-color: #2c092d;
  padding: 20px 0px;
  color: #fff;
}
.footer-col h4 {
  font-size: 20px;
  margin-bottom: 20px;
  color: rgb(250, 204, 0);
}
.footer-col p {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.footer-col {
  margin-bottom: 20px;
}
.footer-col ul {
  list-style: none;
}
.footer-col ul li {
  font-size: 14px;
  margin-left: -30px;
  margin-bottom: 10px;
}
.footer-col ul li a,
.footer-col a {
  color: rgb(223, 205, 205);
  text-decoration: none;
}
.footer-col ul li a:hover,
.footer-col a:hover {
  color: rgb(250, 204, 0);
}
.follow-us-link ul {
  display: flex;
}
.footer-col .follow-us-link a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin: 0px 17px;
  color: #333543;
  font-size: 20px;
  transition: all 0.3s ease;
}
.follow-us-link {
  margin-left: -20px;
}
.newsletter input {
  height: 40px;
  background-color: #fff;
  border-radius: 10px;
  padding: 0px 20px;
  outline: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.newsletter button {
  height: 40px;
  background-color: rgb(250, 204, 0);
  border-radius: 10px;
  padding: 0px 20px;
  outline: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-size: 20px;
  cursor: pointer;
}
.newsletter button:hover {
  background-color: rgb(217, 54, 54);
  color: #fff;
}
.newsletter button i {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.accept-card {
  color: rgb(200, 196, 193);
  font-size: 12px;
  margin-top: 20px;
}
.accept-card {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.accept-card i {
  font-size: 24px;
  color: rgb(255, 255, 255);
}
.copy-right {
  display: flex;
  justify-content: space-between;
}
.copy-right a {
  text-decoration: none;
  color: rgb(250, 204, 0);
}
.copy-right a:hover {
  color: rgb(223, 205, 205);
}

/* ======================================================
          RESPONSIVE CODE
========================================================= */

@media screen and (max-width: 768px) {
  #home img {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  #home .title {
    margin-top: 100px;
  }
  .nav-item a {
    font-size: 14px;
    padding: 5px;
  }
  .slide,
  .cards,
  #review,
  #blog,
  #contact,
  #upcomming,
  #tracking {
    height: auto;
  }
  .upcomming {
    margin: 10px auto;
  }
  .hero .title h1 {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .service-info {
    justify-content: space-evenly;
    border-right: none;
    height: 100px;
  }
  .review-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 10px;
  }
  .cards,
  .checkout-cart,
  .upcomming,
  .review,
  .blog {
    margin: 10px 5px 10px 5px;
    width: 320px;
    height: auto;
  }
  .upcomming {
    height: 450px;
  }
  .cards {
    width: 300px;
    margin-left: -18px;
  }

  .upcomming h3 {
    font-size: 20px;
  }
  .accept-card {
    flex-direction: column;
  }
  .accept-card h6 {
    margin-top: 10px;
    width: 180px;
    font-size: 14px;
    text-align: center;
  }
  .card-list i {
    font-size: 12px;
  }
  footer ~ .footer-col {
    text-align: center;
  }
  .copy-right {
    flex-direction: column;
    font-size: 12px;
  }
  #tracking {
    margin: 10px 5px 10px 5px;
    width: 320px;
    height: auto;
  }
  #tracking img {
    margin-left: 50px;
  }
  .tracking-form input {
    width: 200px;
  }
}
